<div class="container">
  <div><h2>New game</h2></div>

  <div class="tile-container">
    <% @letters.each do |letter| %>
      <p class="tile"><%= letter %></p>
    <% end %>
  </div>
</div>
<div class="base-container">
  <div class="form-container">
    <form action="score">
      <input type="text" name="word">
      <input id="letters" name="letters" type="hidden" value="<%= @letters.join("") %>"/>
      <input id="time" name="time" type="hidden" value="<%= @time_start %>"/>
      <input type="submit" value="Check" class="mauve_button">
    </form>
    <p>What is the longest word that you can find?</p>
  </div>
</div>
